@mixin input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin line-clamp-1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* display/ margin / padding / align / color / font / etc */

.flex {
  display: flex;
}

.align-bottom {
  align-items: flex-end !important;
}

.space-between {
  justify-content: space-between !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.bold {

}

/* display/ margin / padding / align / color / font / etc */

/* input */
.input {
  display: inline-flex;
  flex-flow: row wrap;
  max-width: 100%;
  > .inp {
    display: block;
    width: 100%;
    border: 1px solid #000;
    transition: 0.3s;
    &:focus {

    }
  }
}
/* input */

/* checkbox */
.chkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  & + & {
    margin-left: 20px;
  }
  > label {
    display: inline-flex;
    overflow: hidden;
    > input {
      @include input;
      /* checkbox */
      &[type="checkbox"] {
        & + .text {
          position: relative;
          display: inline-block;
          padding-left: 40px;
          font-weight: 500;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #000;
          }
        }
        &:checked {
          & + .text {
            &::before {
              background-color: #ff0000;
            }
          }
        }
      }
      /* checkbox */
      /* radio */
      &[type="radio"] {
        & + .text {
          position: relative;
          display: inline-block;
          padding-left: 40px;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            border-radius: 50%;
          }
        }
        &:checked {
          & + .text {
            &::before {
              background-color: #000;
            }
          }
          &:disabled {
            & + .text {
              &::before {
                background-color: #ff0000;
              }
            }
          }
        }
        &:disabled {
          & + .text {
            &::before {
              background-color: #ccc;
            }
          }
        }
        
      }
      /* radio */
    }
  }
}
/* checkbox */

/* button */
.btn {
  display: inline-block;
  > span {
    position: relative;
  }
}
/* button */

/* table */
.tbl {
  &.type1 {
    > table {
      > thead {
        > tr {
          > th {
          }
        }
      }
      > tbody {
        > tr {
          > td {
          }
        }
      }
    }
  }
}
/* table */

/* tab */
.tab {
  &.type1 {
    > ul {
      display: flex;
      > li {
        flex: 1 1 0%;
        > a {
          display: block;
          text-align: center;
        }
      }
    }
  }

  &.type2 {
    display: inline-flex;
    > span {
      position: relative;
      display: block;
      > a {
        display: block;
      }
      + span {
        margin-left: 10px;
        padding-left: 10px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          border-bottom: 10px solid #000;
          transform: translateY(-50%);
        }
      }
    }
  }
}
/* tab */

/* list */
.list {
  &.type1 {
    > li {
      position: relative;
      padding-left: 20px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
      }
      & + li {
        margin-top: 10px;
      }
    }
  }
}
/* list */

/* slide */
.slide-trg {
  
  &.active {
  }
}
.slide-cont {
  .inner {
    display: none;
  }
}
/* slide */

/* Breadcrumb */
.breadcrumb {
  display: flex;
  > a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    & + a {
      margin-left: 20px;
    }
  }
}
/* Breadcrumb */

/* pagination */
.pagination {
  font-size: 0;
  text-align: center;
  .page-btn {
    display: inline-block;
    vertical-align: top;
    &.first {
      
    }
    &.prev {

    }
    &.next {

    }
    &.last {

    }
  }
  > .pager {
    display: inline-block;
    vertical-align: top;
    > a {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
    }
  }
}
/* pagination */

/* swiper */

/* swiper */

/* clipboard */
.toast-msg {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 10;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  transform: translateX(-50%);
  transition: opacity 0.3s, visibility 0.3s, bottom 0.3s;
  &.active {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
  }
}
/* clipboard */




.ba {
  position: relative;
  display: inline-block;
  background-color: #ddd;
  overflow: hidden;
  &-box {
    padding: 100px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    animation: line1 1s linear infinite;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
    animation: line2 1s linear 1.5s infinite;
  }
  > .text {
    display: block;
    padding: 20px;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      animation: line3 1s linear infinite;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: #000;
      animation: line4 1s linear 1.5s infinite;
    }
  }
}

@keyframes line1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes line2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes line3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes line4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}


/* 레이어 */
.tooltip {
  position: relative;
  display: inline-flex;
  .tooltip-cont {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 20;
    padding: 20px;
    background-color: #ddd;
    white-space: nowrap;
    border: 1px solid #000;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: left top;
    transition: all 0.3s;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
/* 레이어 */



.bai {
  position: relative;
  display: inline-block;
  overflow: visible;
  
  > .text {
    position: relative;
    display: block;
    padding: 20px;
    color: #fff;
    border-radius: 15px;
    border: 3px solid red;
    background-color: #333;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    &::before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border-radius: 15px;
      opacity: 0;
      border: 3px solid blue;
      transform: scaleX(1.3) scaleY(1.3);
      transition: transform 0.3s, opacity 0.3s;
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
      }
    }
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 20px;
    border: 1px solid #000;
    opacity: 0;
    transform: scaleX(1.3) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: scaleX(1) scaleY(1);
    }
  }
  
  
}





.sw {
  position: relative;
  margin: 20px 0;
  .swiper-slide {
    background-color: red;
    &:nth-child(odd) {
      background-color: magenta;
    }
  }
}